@import "variables";
@import "mixins";

progress {
  text-align: center;
  /*transition: 0.4s linear;*/
}

progress:after {
  content: attr(value)'%';
}

progress::-webkit-progress-bar {
  /* style rules */
}
progress::-webkit-progress-value {
  transition: width 0.5s ease;
}

progress::-moz-progress-bar {
  /* style rules */

}

#progressText {
    text-align: center;
}

// #launcher, #progressBar, #progressPercentage {
//   margin-right: 8px;
// }

#progressPanel{
  margin-top: 40px;
}

#warning{
  margin-top: 40px;
  font-size: 13px;
}

#progressConsole{
  margin-top: 20px;
  font-size: 10px;
  font-style: italic;
}
