section( id='about' class='container content-section text-center' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2 About

      p The main purpose was to provide a simple way to load assets only when needed instead of loading everything when the main page loads.

      ul
        li Setup your json config file containing all your assets (images, textures, sprites, sounds, musics, texts, jsons),

        li launch the loader and use onProgress callback to set your own progress bar design,

        li wait for onComplete callback to start using your freshly loaded assets.

      p Check
        a( class='page-scroll' href='#example' ) Example
        |and
        a( class='page-scroll' href='#source' ) Code
        |section for more information on how to use Orbis.js. There is also a
        a( class='page-scroll' href='#documentation' ) documentation
        | if you need to go deeper.

      p You can help develop Orbis.js on
        a( href='https://github.com/LCluber' target='_blank' ) Github
        |.
