section( id='download' class='container content-section text-center' )
  div( class='row' )
    div( class='col-lg-8 col-lg-offset-2' )
      h2 Download Orbis.js
      ul( class='list-inline banner-social-buttons' )
        li
          a( href='dist/orbis.iife.min.js' class='btn btn-default btn-lg' target='_blank' download='orbis.iife.min.js' title='Minified IIFE library') Orbis.iife.min.js
        li
          a( href='https://www.npmjs.com/package/@lcluber/orbisjs' class='btn btn-default btn-lg' target='_blank' title='Install with NPM')
            |Install with&nbsp;
            i( class='fab fa-npm' )
        li
          a( href='https://github.com/LCluber/Orbis.js' class='btn btn-default btn-lg' target='_blank' title='Sources for the entire project')
            |Clone from Github&nbsp;
            i( class='fab fa-github' )
