@import "variables";
@import "mixins";

#progressBar {
  position: relative;
  width: 200px;
  height: 30px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  margin: 0 auto 0 auto;
  background-color: #111;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#111111", endColorstr="#444444",GradientType=1);
  background: -moz-linear-gradient(top, #111111 0%, #444444 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    top,
    bottom,
    color-stop(0%, #111111),
    color-stop(100%, #444444)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #111111 0%, #444444 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #111111 0%, #444444 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #111111 0%, #444444 100%); /* IE10+ */
  background: linear-gradient(top, #111111 0%, #444444 100%); /* W3C */

  #progressBarPercentage {
    width: 0px;
    height: 30px;
    padding: 1px 0 1px 0;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: $themeColorMain;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="$themeColorMain", endColorstr="$themeColorDark",GradientType=1);
    background: -moz-linear-gradient(top, $themeColorMain 0%, $themeColorDark 100%); /* FF3.6+ */
    background: -webkit-gradient(
      linear,
      top,
      bottom,
      color-stop(0%, $themeColorMain),
      color-stop(100%, $themeColorDark)
    ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, $themeColorMain 0%, $themeColorDark 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, $themeColorMain 0%, $themeColorDark 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, $themeColorMain 0%, $themeColorDark 100%); /* IE10+ */
    background: linear-gradient(top, $themeColorMain 0%, $themeColorDark 100%); /* W3C */
  }

  #progressBarNumber {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #ccc;
  }
}


// progress {
//   text-align: center;
//   /*transition: 0.4s linear;*/
// }
//
// progress:after {
//   content: attr(value)'%';
// }
//
// progress::-webkit-progress-bar {
//   /* style rules */
// }
// progress::-webkit-progress-value {
//   transition: width 0.5s ease;
// }
//
// progress::-moz-progress-bar {
//   /* style rules */
//
// }

#progressText {
    text-align: center;
}

// #launcher, #progressBar, #progressPercentage {
//   margin-right: 8px;
// }

#progressPanel{
  margin-top: 40px;
}

#warning{
  margin-top: 40px;
  font-size: 13px;
}

// #progressConsole{
//   margin-top: 20px;
//   font-size: 10px;
//   font-style: italic;
// }
